body, html {
  height: 100%;
  margin: 0;
  padding-top:50px;/*padding igual ao tamanho do header1*/
}

main {
  display: flex;
  
}
*, *::before, *::after {
  box-sizing: border-box; 
}
/*Header and components*/
header1 {
  background-color: #000; 
  color: #fff; 
  padding: 30px;
  padding-top:20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: fixed;
  height:100%;
  top:0;

  
}
.logo a {
  font-size: 3em;
  color: #fff;
  text-decoration: none;
  margin-bottom: 1px;

}
.timeline{
  margin-top: auto;
  margin-bottom:15px;
}
.messages,
.user-info{ 
  margin: 20px 0 ;
}



.button {
  color: #fff;
  text-decoration: none;
  padding: 0px 15px;
  font-size:0.8em;
}
.button:hover {
  /* Add hover styles */
  background-color: #555;
}


header2{
  background-color: #000;
  color: #fff;
  position: fixed;
  text-align: center;
  display: flex;
  padding-top: 40px;
  padding-bottom: 15px;
  top: 0;
  right: 0;
  left: 210px;
  z-index: 1030;
}

header2 .button {
  margin-left: 100px; /* Adjust the value as needed */
}
.Profile{
  font-size:1.5em;
  margin-left:5%;
  padding-left: 30px;
}
.Profile a {
  color: #fff;
}

/* Add your existing form styles here... */

#content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left:230px;
  padding-top:40px;
  height: 100%;
  overflow-y: auto;
}
#content > * {
  margin-bottom: 10px; /* Add a bottom margin to separate elements */
}
#content form {
  width: 1400px;
  font-size: 2em;
}
#content label{
  font-size:16px;
}
.timeline a,
.messages a,
.user-info a {
    font-size: 1.6em; /* Adjust the font size as needed */
    color: #fff;
    text-decoration: none;
    margin-bottom: 20px; /* Adjust as needed */
}

.user-info span {
    font-size: 1.5em; /* Adjust the font size as needed */
    margin-left: 10px; /* Adjust as needed for spacing */
}


.form-container {
  display: flex;
  align-items: center;
  justify-content: center;

}

form {
  text-align: start;
  max-width: 600px; /* Adjust as needed */
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
/*profile*/
#profile{
  width:100%;
  padding-left: 100px;
  padding-top:40px;
}
.profiletimeline{
  padding-left: 100px;
}
#profile h3{
  padding-right: 500px;
  text-decoration: underline;
}
#profile .content{
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
}
#profile .user{
  font-size: 20px;
}
/*dashboard*/
.post{
  width:80%;
  padding-left: 230px; 
  padding-top:40px;
}
.post form{
  width:80%;
}
.post .content {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
}
/*Chatmenu*/
#chatmenu{
  padding-top:40px;
  padding-left:100px;
}
#chatmenu ul{
padding-top:10px;
}
#chatmenu li{
  font-size: 22px;
  padding-top:10px;
}
/*chat*/


#chat {
  margin-left: 100px;
  display: flex;
  flex-direction: column-reverse;
  max-height: 60vh; /* 80% of the viewport height */
  width: 60vw; /* 60% of the viewport width */
  overflow-y: auto;
  border-radius: 8px;
  border: 2px solid #ddd;
}

.message-container {
 width: 50%;
  

   /* Set the width for both sent and received message containers */
}
.message-container ul {
  list-style-type: none; /* Remove the bullet points from the ul */
}

.message-container ul li {
  text-decoration: none;
}
.message-container li {
  font-size:20px;
  border-radius: 8px; /* Set the width for both sent and received message containers */
  border: 1px solid #ccc; /* Add a border to the message containers */
  padding: 10px; /* Add padding for better spacing */
  margin: 5px; /* Add margin for better spacing between message containers */
  text-decoration: none;
  word-wrap: break-word;
}

.sent-messages {
  align-self: flex-end; /* Align sent messages to the right */
  text-align: end;
}
.sent-messages li{
  background-color: #1f9bcf;
  color:#fff;
  
}
.received-messages {
  align-self: flex-start; /* Align received messages to the left */
}
.received-messages li {
  background-color: #888;
  color:#fff; /* Align received messages to the left */
}
.message {
  margin-top: 10px; /* Add some spacing between messages */
  
}

.new_message {
  margin-left: 100px;
  max-width: 60vw;
  display: flex;
  justify-content: space-between; /* Create space between the input and the button */
  align-items: center;
}

.new_message input {
  flex-grow: 1; /* Allow the input to grow to fill the available space */
  margin-right: 10px; /* Add spacing between input and button */
  border: 1px solid #ccc; /* Add a border to the input */
  padding: 8px; /* Add padding for better appearance */
}

#chat-page {
  flex-direction: column;
}
 article button{
  font-size:16x;
}

/*postpage*/

.postpage #post{
  width:60vw;
}
.postpage .edit-post{
  margin-left:230px;
}