body, html {
  height: 100%;
  margin: 0;
  padding-top:50px;/*padding igual ao tamanho do header1*/
}

main {
  display: flex;
  
}
*, *::before, *::after {
  box-sizing: border-box; 
}
/*Header and components*/
header1 {
  background-color: #000; 
  color: #fff; 
  padding: 30px;
  padding-top:20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: fixed;
  height:100%;
  top:0;

  
}
.logo a {
  font-size: 3em;
  color: #fff;
  text-decoration: none;
  margin-bottom: 1px;

}
.timeline{
  margin-top: auto;
  margin-bottom:15px;
}
.messages,
.user-info{ 
  margin: 20px 0 ;
}



.button {
  color: #fff;
  text-decoration: none;
  padding: 0px 15px;
  font-size:0.8em;
}
.button:hover {
  /* Add hover styles */
  background-color: #555;
}


header2{
  background-color: #000;
  color: #fff;
  position: fixed;
  text-align: center;
  display: flex;
  padding-top: 40px;
  padding-bottom: 15px;
  top: 0;
  right: 0;
  left: 210px;
  z-index: 1030;
}

header2 .button {
  margin-left: 100px; /* Adjust the value as needed */
}
.Profile{
  font-size:1.5em;
  margin-left:5%;
  padding-left: 30px;
}
.Profile a {
  color: #fff;
}




.form-container {
  display: flex;
  align-items: center;
  justify-content: center;

}

form {
  text-align: center;
  max-width: 400px; /* Adjust as needed */
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Add your existing form styles here... */

#content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 50%; 
  padding-top:40px;
  height: 100%; 
  overflow-y: auto;
}
#content > * {
  margin-bottom: 10px; /* Add a bottom margin to separate elements */
}
#content form {
  width: 1400px;
  font-size: 2em;
}
#content label{
  font-size:23px;
}
.timeline a,
.messages a,
.user-info a {
    font-size: 1.6em; /* Adjust the font size as needed */
    color: #fff;
    text-decoration: none;
    margin-bottom: 20px; /* Adjust as needed */
}

.user-info span {
    font-size: 1.5em; /* Adjust the font size as needed */
    margin-left: 10px; /* Adjust as needed for spacing */
}



.article.post {
  /* Add your styling here */
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.article.post h2 {
  /* Styles for post title */
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.article.post p {
  /* Styles for post content */
  font-size: 16px;
  line-height: 1.5;
  color: #555;
}

.article.post .post-footer {
  /* Styles for post footer, e.g., like, comment, share buttons */
  margin-top: 15px;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}
